<a href="https://colab.research.google.com/github/Jeferson-Peter/inSpeechSegmenter-AudioAnalysis/blob/master/AudioAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ffmpeg-python
!sudo apt-get install -y ffmpeg 
!pip install pydub
!pip install inaSpeechSegmenter

In [ ]:
from pyAudioAnalysis import ShortTermFeatures as aF
from pyAudioAnalysis import audioBasicIO 
import numpy as np 
import plotly.graph_objs as go 
import plotly
import IPython
from pyAudioAnalysis import audioSegmentation as aS
# Load the API
from inaSpeechSegmenter import Segmenter
from inaSpeechSegmenter.export_funcs import seg2csv, seg2textgrid
from pydub import AudioSegment

In [ ]:
# read audio data from file 
# (returns sampling freq and signal as a numpy array)
fs, s = audioBasicIO.read_audio_file("18copy.wav")

In [ ]:
IPython.display.display(IPython.display.Audio("18copy.wav"))

In [ ]:
# print duration in seconds:
duration = len(s) / float(fs)
print(f'duration = {duration} seconds')

In [ ]:
# extract short-term features using a 50msec non-overlapping windows
win, step = 0.070, 0.070
[f, fn] = aF.feature_extraction(s, fs, int(fs * win), 
                                int(fs * step))

In [ ]:
input_media = '18copy.wav'
output_media = '18copy_cleaned.wav'
output_path = 'audios_extracted'

In [ ]:
seg = Segmenter()
segmentation = seg(input_media)

/usr/local/lib/python3.7/dist-packages/pyAudioAnalysis/../pyannote/algorithms/utils/viterbi.py:88: FutureWarning:

arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

/usr/local/lib/python3.7/dist-packages/pyAudioAnalysis/../pyannote/algorithms/utils/viterbi.py:97: FutureWarning:

arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

/usr/local/lib/python3.7/dist-packages/pyAudioAnalysis/../inaSpeechSegmenter/segmenter.py:61: RuntimeWarning:

invalid value encountered in subtract

/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:230: RuntimeWarning:

invalid value encountered in subtract

970/970 [==============================] - 44s 45ms/step
719/719 [==============================] - 161s 224ms/step

In [ ]:
print(segmentation)

[('female', 0.0, 1.46), ('noEnergy', 1.46, 2.56), ('male', 2.56, 49.9), ('noise', 49.9, 70.62), ('male', 70.62, 84.16), ('noise', 84.16, 90.66), ('male', 90.66, 104.68), ('noise', 104.68, 107.4), ('male', 107.4, 109.92), ('noise', 109.92, 137.8), ('male', 137.8, 160.44), ('noise', 160.44, 164.12), ('male', 164.12, 168.64000000000001), ('noise', 168.64000000000001, 190.44), ('male', 190.44, 240.08), ('noise', 240.08, 241.82), ('male', 241.82, 252.48000000000002), ('noise', 252.48000000000002, 255.66), ('male', 255.66, 270.42), ('noise', 270.42, 294.64), ('male', 294.64, 333.7), ('noise', 333.7, 335.76), ('male', 335.76, 338.28000000000003), ('noise', 338.28000000000003, 340.86), ('male', 340.86, 348.3), ('noise', 348.3, 360.74), ('male', 360.74, 376.96), ('noise', 376.96, 379.76), ('male', 379.76, 381.16), ('noise', 381.16, 386.62), ('male', 386.62, 433.54), ('noise', 433.54, 438.16), ('male', 438.16, 485.02), ('noise', 485.02, 488.56), ('male', 488.56, 494.02000000000004), ('noise', 494.02000000000004, 498.76), ('male', 498.76, 537.6800000000001), ('noise', 537.6800000000001, 539.76), ('male', 539.76, 549.38), ('noise', 549.38, 553.9), ('male', 553.9, 582.78), ('noise', 582.78, 584.28), ('male', 584.28, 587.88), ('noise', 587.88, 589.24), ('male', 589.24, 621.32), ('noEnergy', 621.32, 621.7)]

In [ ]:
seg2csv(segmentation, 'myseg.csv')
# Here is the resulting CSV
# !cat myseg.csv

In [ ]:
import pandas as pd
df = pd.read_csv('myseg.csv', sep='\t')
df = df[(df['labels'] != 'noEnergy' ) & (df['labels'] != 'noise')]
df = df.reset_index(drop=True)
display(df)

    labels   start    stop
0   female    0.00    1.46
1     male    2.56   49.90
2     male   70.62   84.16
3     male   90.66  104.68
4     male  107.40  109.92
5     male  137.80  160.44
6     male  164.12  168.64
7     male  190.44  240.08
8     male  241.82  252.48
9     male  255.66  270.42
10    male  294.64  333.70
11    male  335.76  338.28
12    male  340.86  348.30
13    male  360.74  376.96
14    male  379.76  381.16
15    male  386.62  433.54
16    male  438.16  485.02
17    male  488.56  494.02
18    male  498.76  537.68
19    male  539.76  549.38
20    male  553.90  582.78
21    male  584.28  587.88
22    male  589.24  621.32

In [ ]:
from pydub import AudioSegment
def cut_audio_from_wav(input_path, file_name, start, end, output_path, output_file):
  startSec = start*1000
  endSec = end*1000
  # Opening file and extracting segment
  song = AudioSegment.from_wav(input_path + file_name)
  extract = song[startSec:endSec]
  # Saving
  extract.export(f"{output_path}/{output_file}", format="wav")

with open('extract_audios.txt', 'w', encoding='utf-8') as  arq:
  total_lines = df.shape[0] -1
  for index, row in df.iterrows():
    try:
      
      output_file = f"_18copy_{index}.wav"
      cut_audio_from_wav('', '18copy.wav', row['start'],	row['stop'],output_path, output_file)
      if index == total_lines:
        arq.write(f"file '{output_path}/{output_file}'")
      else:
        arq.write(f"file '{output_path}/{output_file}'\n")
    except Exception as e:
      print(e)

In [ ]:
import subprocess
txt_full_directory='extract_audios.txt'

# cmdargs = "ffmpeg -f concat -safe 0 -i " + txt_full_directory + " -c copy " + f"{output_media}"
cmd_args = f"ffmpeg -f concat -safe 0 -i {txt_full_directory} -c copy {output_media}"
# subprocess.run() will allow the process to end before creating a new one
try:
  subprocess.run(cmd_args, check=True, shell=True)
  print(f"File {output_media} successfully created")
except Exception as e:
  print(e)

Command 'ffmpeg -f concat -safe 0 -i extract_audios.txt -c copy 18copy_cleaned.wav' returned non-zero exit status 1.